<!doctype html>
<html ng-app="ngOughts">
<head>
    <title>Tut</title>
    <link rel="stylesheet" href="tic.css"></link>
</head>
<body ng-controller="BoardCtrl">
<h1 ng-show="board.won" ng-cloak>{{board.winning_marker}} won!!!!</h1>
<table>
    <tr ng-repeat="row in board.grid">
        <td ng-repeat="cell in row" ng-click="board.playCell(cell)" ng-class="{'winning': cell.winning}">
            <span ng-bind="cell.marker"></span>
        </td>
    </tr>
</table>
<button ng-click="board.reset()">Reset</button>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>