<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="todo.js"></script>
</head>

<body ng-app='todoApp' ng-controller='todoController'>


<div ng-app="todoApp" ng-controller="todoController">
    <form ng-submit="add()">
        <input ng-model="title"><button>Add</button>
    </form>
    <ul>
        <li ng-repeat="t in tasks track by $index">{{ t }} <button ng-click="delete()">x</button></li>
    </ul>
</div>

</body>

</html>
